* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

/* Banner starts */
body {
    background-image: url(../image/banner-bg.png);
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    /* border: 2px solid blue; */
}

body,html{
    overflow-x: hidden;
}

/* Logo starts */
.logo {
    display: flex;
    justify-content: center;
    margin-top: -2%;
}

.logo img {
    width: 150px;
    height: 150px;
}

/* Header styles starts */
header {
    clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 99%);
    background-color: black;
    margin: 0% 5%;
    border: 1px solid;
}

header ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-evenly;
}

header nav {
    margin: 2% 15%;
}

header nav li a {
    color: white;
    font-size: 22px;
}

header nav a:hover {
    color: orangered;
}

/* Header ends */

/* Header sub starts */
.sub_head {

    height: 50px;
    /* border: 2px solid blue; */
}

.sub_head ul {
    display: flex;
    justify-content: space-evenly;
}

.heading1 {
    display: flex;
    justify-content: center;
    margin-top: 3%;

}

.heading1 h1 {
    font-size: 62px;
    text-align: center;
    color: #e6e3e3;

}

.button {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.button button {
    background-color: black;
    color: white;
    width: 140px;
    padding: 10px;
    


}

.title_section {
    /* margin: 25px 0px 0px 550px; */
    display: flex;
    /* text-align: center; */
    justify-content: center;
    margin-top: 2%;

}

.menu {
    position: relative;
    display: inline-block;
    font-size: 35px;
    color: white;
    margin-top: -3px;

}

.menudropdown-content {
    position: absolute;

    z-index: 1;
    display: none;
    height: 700px;
    width: 200px;
    align-items: center;
    background-color: black;
    color: white;

}

.menudropdown-content a {
    display: block;
    color: hsl(0, 9%, 91%);
    background-color: #120e0e;
    font-size: 20px;
    padding: 8px;


}

.menu:hover .menudropdown-content {
    display: block;
    transition-duration: 120s;
    transform: translate(-108px, -230px);
}

.menudropdown-content a:hover {
    color: #1e0707;
    background-color: rgb(243, 236, 236);
    font-size: 25px;
}
/* 
.dropdown {
    border: 2px blue;

} */

.dropdown button {
    padding: 6px;
    background-color: black;
    color: white;
}

.dropdown ul {
    display: none;
    border: 2px solid #101410;

}

.dropdown-content {
    background-color: #f2ecec;


}

.dropdown-content li a {
    color: black;
}

.dropdown-content li:hover {
    background-color: #78b6f1;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fashion {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    /* border: 2px solid blue; */

}

.fashion h4 {
    font-weight: 550;
    font-size: 20px;
    color: black;
}

[type="search bar"] {
    /* width: 500px;
    height:30px ; */
    padding: 5px;
}

.ri-search-line {
    border: 1px solid black;
    padding: 5px;
    background-color: #ef4917;
    color: white;
}

.english {
    padding: 5px;
}

.cart {
    font-size: 20px;
    color: white;
}

.fashion p {
    text-align: center;
    font-size: 15px;
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    font-weight: 550;

}

.fashion span,
a {
    color: orangered;
    font-size: 15px;

}

.fashion section {
    width: 350px;
    height: 500px;
    box-shadow: 2px 2px 18px;
    text-align: center;

}

.fashion img {
    margin-top: 50px;
}

.fashion h4 {
    text-align: center;
    font-size: 20px;
    color: black;
}

.fashion h3 {
    text-align: center;
    font-size: 20px;
    color: black;
}

.electronics {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    /* border: 2px solid blue; */

}

.electronics p {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 15px;
    margin: 110px 10px;
    font-weight: 550;
}

.electronics section {
    width: 350px;
    height: 500px;
    box-shadow: 2px 2px 18px;
}

.electronics h4 {
    text-align: center;
    font-size: 20px;
    color: black;
}

.electronics img {
    height: 250px;
    width: 250px;

    margin-top: 70px;
    margin-left: 50px;
}

.electronics span,
a {
    color: orangered;
    font-size: 15px;

}

.jewellery {
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid blue; */
}

.jewellery section p {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 15px;
    margin: 110px 10px;
    font-weight: 550;

}

.jewellery span,
a {
    color: orangered;
    font-size: 15px;

}

.jewellery img {
    width: 250px;
    height: 250px;
    margin-left: 40px;
    margin-top: 50px;

}

.jewellery section {
    width: 350px;
    height: 480px;
    box-shadow: 2px 2px 18px;
    flex-direction: column;

}

.jewellery h4 {
    text-align: center;
    font-size: 20px;
    color: black;
}

.circle {
    display: grid;
    place-items: center;
    /* border: 2px solid blue; */

}

.circle section {
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid 15px black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border-color: orangered rgb(16, 15, 15);
    animation-name: animated_circle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes animated_circle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

footer {
    height: 350px;
    background-color: black;
    color: white;
    /* border: 2px solid blue; */

}

.footer_sub {
    margin: 5% 25%;
    text-align: center;
}

.footer_sub section {
    display: flex;
    justify-content: space-between;
    border-bottom: #e6e3e3;
    margin-bottom: 10px;
    padding-top: 12%;
}

.footer_sub ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.footer_sub li a {
    color: white;
    font-size: 18px;

}

.footer_sub h4 {
    margin: 50px 190px;
}

.footer_sub section p:nth-child(2) {
    color: #e70808;
}

/* media queries starts */


@media screen and (max-width:1024px) {
    /* header a {
        font-size: 10%;
    } */
    header nav li a {
        
        font-size: 15px;
    }

    .sub_head {
        width: 900px;
        margin-left: 50px;
    }
    .heading1 h1 {
        color:#fefcfc;
         font-size: 310%;
        
    } 
    .button button{
        margin-top: 3%;
    }
    
    
    
    .fashion section{
        width:290px;

    }
   
    .electronics section{
        width:290px;
    }
    .electronics img{
        width:220px;
        margin-left: 30px;
    }

    .jewellery section{
        width:290px;
    }
    footer{
        width:1015px;
    }

}


@media screen and (max-width:768px) {
    header a {
        font-size: 100%;
    }

    .logo img {
        width: 100px;
        height: 100px;
    }
    .sub_head {
        width: 750px;
        margin-left: 10px;
       
    }
    .heading1 h1 {
        color:#fefcfc;
         font-size: 210%;
        
    } 
    .button button{
        margin-top: 2%;
    }
    .fashion section{
        width:230px;
        height: 450px;
    }
    .fashion img{
        width:200px;
        margin-top: 5%;
        height: 350px;
    }
   
    .electronics section{
        width:230px;
        
        height: 450px;
    }
    .electronics img{
        width:200px;
        
        height: 200px;
        /* margin-top: -35%; */
        margin-left: 5%;
    }

    .jewellery section{
        width:230px;
        height: 450px;
        margin-top: 5%;
    }
    .jewellery img{
        width:190px;
        margin-top: 15%;
        height: 230px;
    }
    footer{
        width:760px;
    }
    .footer_sub h4 {
        margin: 50px 60px;
    }
    .footer_sub li a {
        color: white;
        font-size: 13px;
    
    }
    

}

@media screen and (max-width:426px) {
    .logo img {
        width: 70px;
        height: 70px;
    }
    .sub_head ul li:nth-child(2),.sub_head ul li:nth-child(3),.sub_head ul li:nth-child(4) {
        display: none;
    }
    .ri-menu-line{
    font-size: 23px;
    }
   
    .sub_head ul li:nth-child(1){
      margin-left: 15px;
      
      
       }

       .sub_head ul li:nth-child(5){
        margin-left: 12px;
          
         }
         .sub_head ul li:nth-child(6){
            margin-left: 10px;
        }

    
    header {
        display: none;
    }

    .logo img {
        width: 100px;
        height: 100px;
    }
    .sub_head {
        width:420px;
        margin-top: -7%;
        height: 30px;
    }
    .heading1 h1 {
        color:#faf6f6e9;
         font-size: 120%;
        
    } 
    .button{
        justify-content: center;
    }
    .button button{
        margin-top: 1%;
        padding: 5px;
        width: 70px;
        height: 20px;
        color:#fdf9f9;
        padding-top: 2px;
}
.fashion {
flex-direction: column;
justify-content: center;
align-items: center;
}
.fashion section{
        width:360px;
        height: 390px;
        margin-top: 40px;
    }
    .fashion img{
        width:200px;
        margin-top: 5%;
        height: 300px;
    }
   .electronics{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
    .electronics section{
        width:360px;
        height: 450px;
        margin-top: 40px;
    }
    .electronics img{
        width:200px;
        margin-top: 5%;
        height: 300px;
        margin-left: 27%;
    }
    .electronics p{
        margin-top: 60px;
    }
    .jewellery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
     .jewellery section{
        width:360px;
        height: 450px;
        margin-top: 40px;
    }
    .jewellery img{
        width:250px;
        margin-top: 8%;

        height: 240px;
        margin-left: 15%;
    }
    .circle{
        margin-top: 10%;
    }
    footer{
        padding-bottom: 50px;
        width:419px;
        margin-top: 10%;
    }
    .footer h4{
        margin: 20px 30px;
        font-size: 20px;
    }
    .footer_sub ul {
        display: flex;
        flex-direction: column;
    }
    .footer_sub li a {
        color: white;
        font-size: 16px;
        /* padding:50px; */
    }
    
    
}


@media screen and (max-width:320px) {
    header {
        display: none;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }

    body > doctype > section.sub_head > ul{
        width: 200px;
    }

    body > doctype > section.sub_head{
        width: 302px;
    }
    section .subhead{
        
        margin-top: -7%;
        height: 20px;
        margin-left: 0px;
    }
    .sub_head ul li:nth-child(2),.sub_head ul li:nth-child(3),.sub_head ul li:nth-child(4) {
        display: none;
    }
    /* .sub_head ul li:nth-child(1){
        margin-left: 1px;
        padding:0%;
    }
.sub_head ul li:nth-child(5){
          margin-left: 9px;
          padding:0%;
           }
           .sub_head ul li:nth-child(6){
              margin-right: 50px;
              border-left: 50px;
              padding:0%;
          }
          .sub_head ul{
            width:150px;
            margin-left: 100px;
            position: relative;
            right: 100px;
            padding:0%;

          } */
          .sub_head ul{
           position: relative;
          }
          .heading1 h1 {
            color:#f4edede9;
             font-size: 100%;
            
        }  
        .fashion {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            }
            .fashion section{
                width:260px;
                height: 390px;
                margin-top: 40px;
            }
            .electronics{
                flex-direction: column;
                justify-content: center;
                align-items: center;
               }
                .electronics section{
                    width:260px;
                    height: 450px;
                    margin-top: 40px;
                }
                .electronics img{
                    width:150px;
                    margin-top: 5%;
                    height: 300px;
                    margin-left: 20%;
                }
                .jewellery{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                 .jewellery section{
                    width:260px;
                    height: 450px;
                    margin-top: 40px;
                }
                .jewellery img{
                    width:180px;
                    margin-top: 8%;
            
                    height: 240px;
                    margin-left: 15%;
                }
                footer{
                    padding-bottom: 50px;
                    width:314px;
                    margin-top: 10%;
                }
                .footer_sub h4{
                    margin: 10px -5px;
                    font-size: 13px;
                    padding:10px;
                }
                .footer_sub p{
                    font-size: 10px;
                }
                .footer_sub li a {
                    color: white;
                    font-size: 13px;
                    
                }
  
}