*{
    margin: 0;
    padding: 0;
}

#box{
    border: solid black 4px;
    height: 100px;
    width: 300px;
    margin:100px 450px ;
    background-color: darkgoldenrod;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 30px;



}
#box button{
    margin: 30px 50px;
    background-color: bisque;
    color: black;
    font-size: 35px;
    width: 200px;
}
.main_box{
    border: solid black 2px;
    height: 80px;
    width: 1000px;
    margin: 120px 150px;
    background-color:burlywood ;
}
button{
    width:100px;
    height:40px;
    margin: 20px 10px;
color:rgb(12, 11, 11);
font-size: 20px;
    background-color: rgb(237, 240, 244);
}